{% extends "base.html" %}

{% block content %}
<div class="limited">

    <h3 class="title">User List</h3>

    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <table class="user-edit-table">
            <tr>
                <th>E-mail</th>
                <th>Role</th>
                <th>Command</th>
            </tr>
            {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>
                    <form method="GET" action="/admin">
                        <input type="hidden" name="email" value="{{ user.email }}">
                        {% for role in ['pending', 'guest', 'admin'] %}
                        <label>
                            <input type="radio" name="role" value="{{ role }}"
                                   {% if user.status==role %}checked{% endif %}
                                   onchange="this.form.submit()">
                            {{ role }}
                        </label>
                        {% endfor %}
                    </form>
                </td>
                <td>
                    <a href="/admin?email={{ user.email }}&cmd=d" class="delcmd">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>

    </div>
</div>
{% endblock %}