{% extends "base.html" %}

{% block content %}
<div class="limited">
    <h3 class="title">Quick Mail</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        {% if authorized %}
        <p>Your device token: <strong>{{ user.token }}</strong></p>
        {% endif %}
    </div>
    <div class="story">
        <h1>How It Works</h1>
        <p>Sign in with Google to get your device token.<br>
            To send an e-mail, you simply make an HTTP GET or HTTP POST request to <br>"{{ request.url.replace("/cgi-bin/cgi_serve.py", "") }}send" with parameters, all required:</p>
        <ul>
            <li>token=&lt;Your user token&gt;</li>
            <li>msg=&lt;Html safe text message to send&gt;</li>
            <li>to=&lt;Recipient e-mail address&gt;</li>
            <li>sub=&lt;E-mail subject&gt;</li>
        </ul>

        <p>To send to multiple addresses, you may use a comma separated list of e-mails for the "to" parameter.</p>
        <p>To prevent spam, you must wait at least {{ min_wait_time }} seconds between emails.</p>
        <br>
        <a href="https://github.com/ujagaga/Quick_mail">This is an open source solution you may use as you wish.</a>
    </div>
</div>
{% endblock %}